yt-dlp==2024.12.15.232913.dev0
gitpython==3.1.43
py-tgcalls==2.0.6
ntgcalls==1.2.3
tgcrypto==1.2.5
youtube-search-python
aiofiles==24.1.0
aiohttp==3.10.3
asyncio==3.4.3
youtube-search==2.1.2
bs4
pyroaddon
pymediainfo
gtts
pydub
cinemagoer
edge-tts
emoji
geopy
git-python
uvloop
glitch_this
googlesearch-python
deep-translator
heroku3
httpx==0.25.0
lottie
lyricsgenius
motor==3.6.0
ntgcalls==1.3.0b3
pillow==9.5.0
psutil
pyroaddon
pyrogram
pySmartDL
python-dotenv
pytz
requests
selenium
speedtest-cli
telegraph
tgcrypto
Unidecode
wikipedia
pyrogram
googletrans @ git+https://github.com/badmunda98/py-googletrans
git+https://github.com/badmunda98/BadAPI
