py-tgcalls==2.0.1
ntgcalls==1.2.0
tgcrypto==1.2.5
TgCrypto
asyncio
youtube-search-python==1.6.6
youtube-search==2.1.2
bs4
pyroaddon
pymediainfo
gtts
pydub
cinemagoer
edge-tts
emoji
geopy
git-python
glitch_this
googlesearch-python
git+https://github.com/KurimuzonAkuma/pyrogram.git@v2.1.21
googletrans @ git+https://github.com/badmunda98/py-googletrans
git+https://github.com/badmunda98/BadAPI
heroku3
httpx
lottie
lyricsgenius
motor
pillow
psutil
pyroaddon
pyrogram
pySmartDL
python-dotenv
pytz
requests
selenium
speedtest-cli
telegraph
tgcrypto
Unidecode
wikipedia
yt-dlp @ git+https://github.com/Badmunda98/yt-dp-fork
